header {
  background-color: rgba(183, 232, 245, 0.384);
  border: outset rgb(155, 155, 155);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  position: relative;
}
h1 {
  color: rgb(209, 78, 78);
}

body {
  background-color: rgb(209, 209, 209);
  margin: 0px;
}

.skraning-body {
  justify-content: space-between;
}
.header-left {
  display: flex;
  gap: 10px;
}

.header-right {
  display: flex;
  gap: 10px;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px;
}

.logo {
  border-radius: 100px;
  width: 100px;
}

.form {
  align-items: center;
}

.img-backround {
  background-color: rgb(145, 140, 140);
  border: outset;
  border-radius: 20px;
  padding: 10px;
}
.images {
  display: flex;
  justify-self: center;
  border: outset;
  border-radius: 15px;
  padding: 10px;
}
.images img {
  height: 300px;
  width: 160px;
  border-radius: 10px;
  border: outset rgb(184, 182, 182);
}

p {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.aboutme {
  border: outset;
  border-radius: 20px;
}

.h2aboutme {
  color: rgb(221, 74, 74);
  text-align: center;
}

.h2list {
  text-align: center;
  color: rgb(112, 42, 42);
}

.dagatal {
  display: flex;
  justify-content: center;
  background-color: bisque;
  border: outset;
  border-radius: 20px;
  padding: 20px;
}

.listar {
  display: flex;
  justify-content: space-around;
  padding: 30px;
  border: outset;
  background-color: rgba(109, 170, 170, 0.644);
  border-radius: 20px;
}

.listi {
  border-bottom: solid red;
  border-top: solid green;
  border-left: solid yellow;
  border-right: solid blue;
  padding: 20px;
}

.h1 {
  font-family: "Times New Roman", Times, serif;
}

.h2 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

footer {
  display: flex;
  justify-content: center;
  padding: 10px;
  border: outset;
  border-radius: 20px;
  background-color: beige;
}

.contact {
  display: flex;
  justify-content: center;
}

.contactText {
  text-align: center;
}

.buttons {
  display: flex;
  justify-self: center;
  padding: 9px;
}

.thankyoutext {
  text-align: center;
}

.button2 {
  display: flex;
  justify-content: center;
}
.contact-button {
  border: outset;
  border-radius: 20px;
}
